/*네비바*/
.hide {
  display: none;
  opacity: 0;
}

.show {
  opacity: 1;
  visibility: visible;
  display: block;
}

nav {
  position: fixed;
  top: 0;
  height: 75px;
  right: 3%;
  padding: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

a {
  color: white;
  text-decoration: none;
}
.downUl {
  position: absolute;
  z-index: 999;
  background-color: yellowgreen;
  color: white;
  padding: 5px 0 0 0;
  list-style: none;
  border: none;
  width: 20%;
  height: 25rem;
  right: 3%;
  border-radius: 1rem;
  overflow: auto;
}

.navBtn {
  background-color: yellowgreen;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  position: relative;
  padding: 10px;
  margin-top: 1%;
  margin-right: 1%;
  left: 45%;
}
.tabs button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
  color: #333;
}

.tabs button.active {
  background-color: #fff;
  font-weight: bold;
  color: #000;
}

.tabContent {
  /* background-color: #fff;*/
  color: #000;
}

.dropdown {
  margin-right: 5px;
  margin-left: 5px;
}
li {
  padding-bottom: 5px;
}

/*왼쪽 그림 출력 div*/
.LeftDivOveray {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 46.5%;
  height: 93%;
  background-color: hwb(26 97% 0%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.Left {
  width: 80%;
  height: 80%;
  display: block;
  margin: 7% 14% 0 5%;
  position: absolute;
  border: 3px solid#212121;
  border-radius: 10px;
}
.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.diaryImage {
  position: absolute;
  top: -0.01%;
  max-height: 80%;
  width: auto;
  max-width: 95%;
  display: block; /* 이미지를 블록 요소로 설정하여 가운데 정렬을 적용합니다 */
  margin-left: auto; /* 왼쪽 여백을 자동으로 설정하여 가운데 정렬을 적용합니다 */
  margin-right: auto; /* 오른쪽 여백을 자동으로 설정하여 가운데 정렬을 적용합니다 */
}
.getDiaryImage {
  margin-top: 10%;
  width: auto;
  max-width: 95%;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}

.loadingImg {
  display: block;
  margin: 0 auto;
  max-width: 100px;
  max-height: 100px;
}

.CircleContainer {
  display: flex;
  flex-direction: column; /* Added property */
  justify-content: center;
  align-items: center;
  z-index: -1;
}
/*오른쪽*/
.RightDivOveray {
  position: absolute;
  top: 0%;
  right: 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 46.5%;
  height: 93%;
  background-color: hwb(26 97% 0%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.Right {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  margin: 2% 2% 0 14%;
  margin-bottom: 15%;
  border: 3px solid #212121;
  border-radius: 10px;
  position: relative;
}

.TextSquareContainer {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 85%;
  width: 106%;
  margin-left: 0.5%;
}

/*푸터*/
footer {
  height: 30%;
  border-top: 1px solid #ccc;
  border-radius: 0 0 10px 10px;
  margin-top: 5px;
  border-top: 3px solid #212121;
}
.stampHeader {
  position: relative;
  z-index: 0;
  float: left;
  height: 10%;
}
.selectStampBtn {
  float: right;
}
.GetSticker {
  height: 65%;
  display: flex;
  overflow: auto; /* 세로 스크롤 */
}
.scrollContainer {
  flex: 1;
  max-height: 100%;
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

.sticker {
  height: 100%;
  margin-top: 5%;
  margin-right: 2.5%;
}
.sticker img {
  width: 100%;
}
.stickerWrapper {
  position: relative;
}
.userNicknamePopup {
  position: absolute;
  font-size: 80%;
  top: -30%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 5%;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  display: none; /* 처음에는 닉네임 팝업 안보이게 */
}
/* 마우스 올렸을 때 닉네임 팝업 */
.stickerWrapper:hover .userNicknamePopup {
  display: block;
}
.stickerContainer {
  position: relative;
}
/*마우스 올렸을 때 삭제 버튼*/
.deleteStickerBtn {
  display: none;
  position: absolute;
  width: 20%;
  top: 1%;
  left: 50%;
  background-color: transparent;
  cursor: pointer;
  z-index: 99;
}
.stickerWrapper:hover .deleteStickerBtn {
  display: flex;
}
.deleteStickerBtn img {
}

/*헤더 : 기분 이모지랑 기분 날짜 출력*/
header {
  position: "fixed";
  padding: 5px;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #212121;
}
header > div {
  display: flex;
}
/*헤더 왼쪽 날짜 감정*/
.theDate {
  width: 55%;
  margin-right: 5%;
}
.todayEmotion {
  width: 50%;
  display: flex;
  align-items: center;
}
.emotionImg {
  width: 30%;
  margin-left: 3%;
}
.EmotionItem {
  cursor: pointer;
  margin-left: 2%;
}
.EmotionItem img {
  width: 100%;
}
.EmotionItem-on-1 {
  background-color: #9dd772;
}
.EmotionItem-on-2 {
  background-color: #fdce17;
}
.EmotionItem-on-3 {
  background-color: #fda117;
}
.EmotionItem-on-4 {
  background-color: #fd565f;
}

/*헤더 (오른쪽) 작성자*/
.title {
  margin: 2.5% 3% 2.5% 3%;
}

/*가운데 스프링 6공*/
.SpringMaker {
  display: flex;
  justify-content: center;
  left: 37.5%;
  position: absolute;
  width: 20%;
  z-index: 3;
}
.Spring {
  position: absolute;
}

.tab-menu {
  width: 70%;
  height: 85%;
  margin-left: 20%;
  position: absolute;
  top: 0;
}

.tab-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.tab-item {
  flex: 1;
  text-align: center;
  padding: 5% 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tab-item.active {
  background-color: #61dafb;
  color: #fff;
}

.tab-content {
  height: 90%;
  width: 100%;

  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute;
}

.tab-content-inner {
  position: relative; /* 변경 */
  top: 0; /* 변경 */
  left: 5%; /* 변경 */
  right: 0; /* 변경 */
  bottom: 0; /* 변경 */
  width: 90%;
}

.frndBtn {
  align-items: center;
  position: absolute;
  height: 4em;
  width: 3em;
  right: 0.6em;
}

.searchingBar {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.friendImage {
  flex: 1;
  left: 0;
}

.friendInfo {
  flex: 3;
}

.user-list-container {
  height: 75%;
}

.user-list {
  list-style: none;
  padding: 0;
}

.user-item {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.username {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.email {
  color: #888;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.button-container {
  display: flex;
  gap: 3em; /* 버튼 사이의 간격 설정 */
}

.accept-button,
.reject-button {
  justify-content: center;
  align-items: center;
  padding: 0.3em 0.5em;
  border: none;
  cursor: pointer;
  width: 40%;
}

.accept-button {
  background-color: #3cb371;
  color: white;
}

.reject-button {
  background-color: #e34234;
  color: white;
}
