/*네비바*/
.hide {
  display: none;
  opacity: 0;
}

.show {
  opacity: 1;
  visibility: visible;
  display: block;
}

nav {
  position: fixed;
  top: 0;
  height: 75px;
  right: 0;
  padding: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

a {
  color: white;
  text-decoration: none;
}

.downUl {
  position: absolute;
  z-index: 1;
  background-color: #4caf50;
  color: white;
  padding: 5px 0 0 0;
  list-style: none;
  border: none;
  width: 100%;
  border-radius: 1rem;
}

.navBtn {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  position: relative;
  padding: 10px;
}

.dropdown {
  margin-right: 5px;
}
li {
  padding-bottom: 5px;
}

/*왼쪽 그림 출력 div*/
.LeftDivOveray {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 23.5em;
  height: 28em;
  background-color: hwb(26 97% 0%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.Left {
  width: 19em;
  height: 23em;
  display: block;
  margin: 1em 1em 0 1em;
  position: absolute;
  border: 3px solid#212121;
  border-radius: 10px;
}
.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.diaryImage {
  position: absolute;
  top: -0.01%;
  max-height: 80%;
  width: auto;
  max-width: 95%;
  display: block; /* 이미지를 블록 요소로 설정하여 가운데 정렬을 적용합니다 */

  margin-left: auto; /* 왼쪽 여백을 자동으로 설정하여 가운데 정렬을 적용합니다 */
  margin-right: auto; /* 오른쪽 여백을 자동으로 설정하여 가운데 정렬을 적용합니다 */
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}

.loadingImg {
  display: block;
  margin: 0 auto;
  max-width: 100px;
  max-height: 100px;
}
.LeftBottomDiv {
  margin: 5px;
  position: absolute;
  bottom: 5%;
  right: 12%;
}
.CircleContainer {
  display: flex;
  flex-direction: column; /* Added property */
  justify-content: center;
  align-items: center;
  z-index: -1;
}
/*오른쪽*/
.RightDivOveray {
  position: absolute;
  top: 0%;
  right: 0%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 23.5em;
  height: 28em;
  background-color: hwb(26 97% 0%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.Right {
  width: 19em;
  height: 23em;
  display: block;
  margin: 1em 1em 0 2.5em;
  margin-bottom: 15%;
  position: absolute;
  border: 3px solid#212121;
  border-radius: 10px;
}
.TextSquareContainer {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 106%;
  overflow: auto;
  max-height: 85%;
}
.RightBottomDiv {
  margin: 0.3em;
  position: absolute;
  bottom: 5%;
  right: 7%;
}

/*헤더 : 기분 이모지랑 기분 날짜 출력*/
header {
  position: "fixed";
  padding: 5px;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #212121;
}
header > div {
  display: flex;
}
/*헤더 왼쪽 날짜 감정*/
.theDate {
  width: 55%;
  margin-right: 5%;
}
.todayEmotion {
  width: 50%;
  display: flex;
  align-items: center;
}
.emotionImg {
  width: 30%;
  margin-left: 3%;
}
.EmotionItem {
  cursor: pointer;
  margin-left: 2%;
}
.EmotionItem img {
  width: 100%;
}
.EmotionItem-on-1 {
  background-color: #9dd772;
  width: 65%;
  height: 6vh;
}
.EmotionItem-on-2 {
  background-color: #fdce17;
}
.EmotionItem-on-3 {
  background-color: #fda117;
}
.EmotionItem-on-4 {
  background-color: #fd565f;
}

/*헤더 (오른쪽) 작성자*/
.title {
  margin: 2.5% 3% 2.5% 3%;
}

/*가운데 스프링 6공*/
.SpringMaker {
  display: flex;
  justify-content: center;
  position: relative;
}
.Spring {
  position: absolute;
}
