/*다이어리 기본 프레임*/
.DiaryFrame {
  background-image: url(../public/img/diary.png);
  background-size: 800px 500px;
  width: 800px;
  height: 500px;
  display: block;
  margin: 50px auto;
  position: relative;
}

.Right {
  position: absolute;
  left: 430px;
  top: 75px;
}

.IndexBtn {
  position: absolute;
  top: 10px; /* 버튼의 위치를 조절할 수 있습니다. */
  right: -90px;
  width: 70px; /* 버튼의 크기를 조절할 수 있습니다. */
  height: 40px;
}

/*원고지*/
.textsquare {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
}
